<?xml version="1.0"?>
<launch>
  <node pkg="motion_planner" type="motion_planner_node" name="motion_planner">
    <remap from="app_pub" to="app_nav_pub" />
    <remap from="app_sub" to="app_nav_sub" />
    <param name="config_file_path" value="$(find motion_planner)/configs/config.yaml"/>
  </node>

  <node pkg="move_base" type="move_base" respawn="true" name="move_base">
    <rosparam file="$(find move_base)/configs/costmap_common_params.yaml" command ="load" ns="global_costmap" />
    <rosparam file="$(find move_base)/configs/costmap_common_params.yaml" command="load"
	      ns="local_costmap" />
    <rosparam file="$(find move_base)/configs/moverlocal.yaml" command="load" />
    <rosparam file="$(find move_base)/configs/moverglobal.yaml" command="load" />
    <rosparam file="$(find move_base)/configs/moverlocalplanner.yaml" command="load" />
    <param name="config_file_path" value="$(find move_base)/configs/"/>
    <param name="base_local_planner" value="mrobot_local_planner/MrobotPlannerROS"/>
  </node>

 <node pkg="tf" type="static_transform_publisher" name="sonar_all_static_tf_publisher" args="0.0 0.0 0.0 0.0 0.0 0.0 base_link sonar_frame_all 100">
    </node>
<!-- The node was canceled
  <node pkg="velocity_damper" type="velocity_damper_node" name="velocity_damper_node"/>  
--> 

</launch>
